.button{-fx-background-color: #4B0000; -fx-font-family: Times New Roman; -fx-font-style: italic; -fx-font-size: 14; -fx-text-fill: #FF0000}
.button:hover{-fx-font-weight: bold}
.button1audiolibrarygenre{-fx-background-color: #4B0000; -fx-font-family: Times New Roman; -fx-font-weight: bold; -fx-font-style: italic; -fx-font-size: 14; -fx-text-fill: #FF0000}
.button1audiolibrarygenre:hover{-fx-font-size: 15}