.combo-box{-fx-border-color: transparent}
.cell{-fx-background-color: #FFFFFF; -fx-text-fill: #000000}
.arrow-button{-fx-background-color: #FFFFFF}
.arrow{-fx-background-color: #4B0000}
.combo-box-popup .cell{-fx-background-color: #FFFFFF; -fx-text-fill: #000000}
.combo-box-popup .cell:hover{-fx-background-color: #4B0000; -fx-text-fill: #FF0000}
.combo-box-popup .cell:selected{-fx-background-color: #4B0000; -fx-text-fill: #FF0000}
.scroll-bar *{-fx-pref-width: 0.1; -fx-pref-height: 0.1; -fx-background-color: #FFFFFF}